[submodule "hipaper"]
    path = themes/hipaper
    url = https://github.com/iTimeTraveler/hexo-theme-hipaper.git
[submodule "themes/next"]
	path = themes/next
	url = git@github.com:bittervan/blog-theme.git
